/* Google Fonts Import link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    height: 100vh;
    background: #333;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    cursor: pointer;
}

.container .card .card__face {
    width: 300px;
    height: 200px;
}

.container .card .card__face.card__top {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1000;
}

.container .card:hover .card__face.card__top {
    background: #ff0057;
    transform: translateY(0);
    border-radius: 4px 4px 0px 0px;
}

.container .card .card__face.card__top .content {
    color: #ffffff;
    text-align: center;
    opacity: .2;
}

.container .card .card__face.card__top .content i {
    font-size: 60px;
}

.container .card .card__face.card__top .content h3 {
    font-size: 1.5em;
    margin: 10px 0 0;
}

.container .card:hover .card__face.card__top .content {
    opacity: 1;
}

/* Card Bottom */

.container .card .card__face.card__bottom {
    position: relative;
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    z-index: -1;
}

.container .card:hover .card__face.card__bottom {
    transform: rotateY(0);
}

.container .card:hover .card__face.card__bottom .content a {
    display: inline-block;
    color: #333;
    font-weight: 600;
    border: 1px solid #333;
    text-decoration: none;
    padding: 5px;
    margin: 15px 0 0;
}