/* Google Fonts Import link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    background: #333;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}