/* Google Fonts Import link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    height: 100vh;
    background: #333;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    cursor: pointer;
}

.container .card .card__face {
    width: 300px;
    height: 200px;
    border: 1px solid white;
}